<!doctype html>
<html>
<head>
	<% if(typeof(title) != 'undefined') { %>
		<title><%= title %></title>
	<% } else { %>
		<title>Sample site</title>
	<% } %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<% include maincss %>
</head>
<body>

<header></header>